*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #23272A;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,1);
    padding: 10px 0;
    border-bottom:1px solid yellowgreen;

    .logo{
        h1 a{
            font-family: 'poppins';
            color:#23272A;
            font-size: 35px;
            margin-left: 10px;
            cursor: pointer;
            text-decoration: none;
        }
    }
    .name{
        display: flex;
        margin-right: 20px;
        align-items: center;
    }
    .avatar{
        border: 0.5px solid lightgray;
        border-radius: 50%;
        padding: 5px 15px;
        background-color: lightgreen;
        font-weight: bold;
        font-family: 'poppins';
        color: #232323;
        margin: 0 15px;
    }
    h2{
        font-family: sans-serif;
        opacity: 0.8;
        font-size: 19px;
    }
    
}

.resources{
    position: relative;
    z-index: 1;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    @media (max-width : 1078px){
        width: 80%;
    }
    @media (max-width : 706px){
        width: 90%;
    }
    @media (max-width : 540px){
        width: 100%;
    }
    #head{
        font-size: 45px;
        color: white;
        font-family: 'poppins';    
        @media (max-width : 768px){
            font-size: 35px;
        }
        @media (max-width : 540px){
            font-size: 28px;
        }
    }
    .container{
        width: 100%;
        display:flex;
        margin-top: 30px;
        justify-content: space-evenly;
        grid-gap: 2.5%;
        @media (max-width : 540px){
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            justify-content: center;
        }
        @media (max-width : 520px){
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            place-items: center;
        }
        .vaccines,.oxygen,.plasma{
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #171717;
            box-shadow: 2px 0px 39px -12px rgba(0,0,0,0.75);
            padding: 20px 20px 50px 20px;
            border-radius: 13px;
            @media (max-width : 540px){
                width: 250px;
            }
            @media (max-width : 520px){
                width: 200px;
            }
            h1{
                font-size: 26px;
                font-family: 'poppins';
                color: white;
                margin-bottom: 20px;
                @media (max-width : 768px){
                    font-size: 22px;
                    margin-bottom: 15px;
                }
                @media (max-width : 628px){
                    font-size: 20px;
                }
            }
            button{
                outline: none;
                padding: 8px 0;
                width: 120px;
                border: 1px black solid;
                font-weight: bold;
                border-radius: 25px;
                background:#8418e2;
                color: white;
                text-align: center;
                cursor: pointer;
                font-family: sans-serif;
                margin: 15px 0;
                @media (max-width : 768px){
                    width:100px;
                    margin: 10px 0;
                }
                a{
                    color: white;
                    text-decoration: none;
                    font-size: 16px;
                    @media (max-width : 768px){
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.modal{
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    width:100%;
    height: 100%;
    position: fixed;
    background-color: #23272A;
    z-index: 0;    
    .vaccine-modal,.oxygen-modal,.plasma-modal{
        width: 300px ;
        height: 500px;
        padding: 30px 20px;
        background-color: #171717;
        border-radius: 20px;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .links{
            height: 100%;
            overflow-y: auto;
            #msg{
                font-size: 14px;
                font-family: 'poppins';
                color: rgb(250, 61, 61);
                text-align: center;
                margin-bottom: 10px;
            }
            .link{
                margin-bottom: 5px;
            }
            .link a{
                color: lightblue;
                font-size: 15px;
                margin-bottom: 6px;
                font-family: sans-serif;
                word-break: break-all;
            }
            hr{
                margin-top: 4px;
                height: 1px;
            }
        }
        .close{
            button{
                outline: none;
                padding: 8px 0;
                width: 120px;
                border: 1px black solid;
                font-weight: bold;
                border-radius: 25px;
                background:#8418e2;
                color: white;
                text-align: center;
                font-family: sans-serif;
                margin: 15px 0;
                cursor: pointer;
            }
        }
    }
}


.open-modal{
    visibility: visible;
    z-index: 2;
    opacity: 0.95;
}


.add{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    #head{
        font-size: 45px;
        color: white;
        font-family: 'poppins';   
        @media (max-width : 768px){
            font-size: 35px;
        }
        @media (max-width : 540px){
            font-size: 28px;
        }
    }
    #special{
        color: #8418e2;
    }
    p{
        font-size: 16px;
        color: white;
        font-family: sans-serif;
        font-weight: 600;
        width: 400px;
        text-align: center;
        word-wrap: break-word;
        @media (max-width : 540px){
            width: 300px;
            font-size: 14px;
        }
        @media (max-width : 520px){
            width: 200px;
        }
    }
    .form{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        // align-items: center;
        width: 300px;
        background-color: #171717;
        padding: 50px 40px;
        border-radius: 20px ;
        box-shadow: 2px 0px 39px -12px rgba(0,0,0,0.75);
        @media (max-width : 540px){
            width: 250px;
            padding: 40px 20px;
        }
        @media (max-width : 520px){
            width: 200px;
        }

    }
    label{
        font-size: 20px;
        color: white;
        font-family: sans-serif;
        // margin-top: 40px;
        margin-bottom: 6px;
        font-weight: bold;
        @media (max-width : 540px){
            font-size: 18px;
        }
    }
    input{
        padding: 8px 5px;
        outline: none;
        border: 1px solid black;
        font-size: 14px;
        font-family: 'poppins';
        border-radius: 6px;
        @media (max-width : 540px){
            font-size: 13px;
            font-weight: normal;
        }
    }
    .sub{
        width: 150px;
        padding: 8px 20px;
        outline: none;
        background-color: #8418e2;
        color: white;
        font-size: 16px;
        border: 1px solid #23272A;
        border-radius: 20px;
        margin-top: 30px;
        text-align: center;
        align-self: center;
        font-family: 'poppins';
        cursor: pointer;
        @media (max-width : 540px){
            width: 100px;
            font-size: 14px;
        }
        @media (max-width : 520px){
            font-weight: normal;
        }
    }
}
.community{
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    #head{
        font-size: 45px;
        font-family: 'poppins';
        color: white;
        @media (max-width : 768px){
            font-size: 35px;
        }
        @media (max-width : 540px){
            font-size: 28px;
        }
    }
    #progress{
        width: 450px;
        height: 400px;
        @media (max-width : 520px){
            width: 300px;
            height: 300px;

        }
    }

    #progress-head{
        font-size: 18px;
        font-family: sans-serif;
        font-weight: bold;
        color: #8418e2;
        opacity: 1;
    }

}