{% extends "layout.html" %}
{% block title %}
CovidCom | Add
{% endblock %}

{% block link %}
<link rel="stylesheet" href="../static/css/styles.css">
{% endblock %}

{% block content %}
<div class="add">
    {% if type_=="vaccine" %}
        <h1 id="head">
            Add Vaccine Links/Tracking 
        </h1>
    {% elif type_=="oxygen" %}
        <h1 id="head">
            Add Oxygen Links/Leads
        </h1>
    {% endif %}
    <p>
        Add a <span id="special">spreadsheet</span> link or a <span id="special">resource</span> link 
        that might help others.
        Once it is verified it will be displayed to everyone.
    </p>
    <form action="" class="form" method="POST"> 
        <label>Link Resource</label>
        <input type="url" placeholder="Add a link that can be useful">
        <button type="submit" class="sub">Submit</button>
    </form>
</div>

{% endblock %}