{% extends "layout.html" %}
{% block title %}
CovidCom
{% endblock %}

{% block link %}
<link rel="stylesheet" href="../static/css/styles.css">
{% endblock %}


{% block content %}
<div class="resources">
    <h1 id="head">Resources</h1>
    <div class="container">
        <div class="vaccines">
            <h1>Vaccine Info</h1>
            <button class="check vaccine">
                <a>Check</a>
            </button>
            <button class="discussion">
                <a href="">Discussion</a>
            </button>
            <button class="add-link">
                <a href="/addLink">Add a link</a>
            </button>
        </div>
        <div class="oxygen">
            <h1>Oxygen Info</h1>
            <button class="check oxygen">
                <a>Check</a>
            </button>
            <button class="discussion">
                <a href="">Discussion</a>
            </button>
            <button class="add-link">
                <a href="{{ url_for('routes.add_link',type='oxygen') }}">Add a link</a>
            </button>
        </div>
        <div class="plasma">
            <h1>Plasma Info</h1>
            <button class="check plasma">
                <a>Check</a>
            </button>
            <button class="discussion">
                <a href="">Discussion</a>
            </button>
            <button class="add-link">
                <a href="{{ url_for('routes.add_link',type='plasma') }}">Add a link</a>
            </button>
        </div>
    </div>
</div>
<div class="modal">
    <div class="vaccine-modal">
        <div class="links">
            <p id="msg">Please Verify Before Using</p>
            {% for link in vac_link %}
                <div class="link">
                    <a href="{{ link }}">{{ link }}</a>
                    <hr>
                </div>
            {% endfor %}   
        </div>     
        <div class="close vaccine">
            <button>close</button>
        </div>
    </div>
    <div class="oxygen-modal">
        <div class="links">
            <p id="msg">Please Verify Before Using</p>
            {% for link in oxy_link %}
                <div class="link">
                    <a href="{{ link }}">{{ link }}</a>
                    <hr>
                </div>
            {% endfor %}   
        </div>     
        <div class="close oxygen">
            <button>close</button>
        </div>
    </div>
    <div class="plasma-modal">
        <div class="links">
            <p id="msg">Please Verify Before Using</p>
            {% for link in plsm_link %}
                <div class="link">
                    <a href="{{ link }}">{{ link }}</a>
                    <hr>
                </div>
            {% endfor %}   
        </div>     
        <div class="close plasma">
            <button>close</button>
        </div>
    </div>
</div>
{% endblock %}

