{% extends "layout.html" %}
{% block title %}
CovidCom
{% endblock %}

{% block link %}
<link rel="stylesheet" href="../static/css/styles.css">
{% endblock %}


{% block content %}
<div class="resources">
    <h1 id="head">Resources</h1>
    <div class="container">
        <div class="vaccines">
            <h1>Vaccine Info</h1>
            <button class="check">
                <a>Check</a>
            </button>
            <button class="discussion">
                <a href="">Discussion</a>
            </button>
            <button class="add-link">
                <a href="/addLink">Add a link</a>
            </button>
        </div>
    </div>
</div>
<div class="modal">
    <div class="vaccine-modal">
        <div class="links">
            <p id="msg">Please Verify Before Using</p>
            {% for link in vac_link %}
                <div class="link">
                    <a href="{{ link }}">{{ link }}</a>
                    <hr>
                </div>
            {% endfor %}   
        </div>     
        <div class="close">
            <button>close</button>
        </div>
    </div>

</div>
{% endblock %}

